.App {
  text-align: center;
}

.app__icon {
  wudth: 50px;
  height: 50px;
  margin-top: 100px;
}

.app__form {
  padding: 20px;
  display: flex;
  flex-direction: row;
  background-color: lightskyblue;
  position: fixed;
  bottom: 10px;
  z-index: 1;
  width: 100%;
}
