.message {
  padding: 5px;
  margin-top: 3px;
  padding-top: 3px;
  width: fit-content;
  height: fit-content;
  font-size: 13px;
  font-weight: lighter;
}

.message__user {
  margin-left: auto;
  color: white;
  text-align: left !important;
}

.message__userCard {
  background-color: #0b81ff !important;
  color: white !important;
}

.message__guestCard {
  background-color: #e9e9eb !important;
}

.user__signify {
  color: black;
  margin-top: 0;
  margin-left: auto;
}
